<mat-nav-list>
  <a mat-list-item routerLink="/home" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>Home</span>
  </a>

  <a mat-list-item routerLink="/schedule" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>assignment</mat-icon>
    <span matListItemTitle>Meccsnaptár</span>
  </a>

  <a mat-list-item routerLink="/team-profile" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>done_all</mat-icon>
    <span matListItemTitle>Csapatok</span>
  </a>

  <a mat-list-item routerLink="/statistics" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>bar_chart</mat-icon>
    <span matListItemTitle>Statisztikák</span>
  </a>

  <a mat-list-item routerLink="/forum" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>forum</mat-icon>
    <span matListItemTitle>Fórum</span>
  </a>

  <a mat-list-item routerLink="/tactical-board" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>track_changes</mat-icon>
    <span matListItemTitle>Interaktív játéktervező</span>
  </a>

  <a mat-list-item routerLink="/player-comparison" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>person_compare</mat-icon>
    <span matListItemTitle>Játékos Összehasonlítás</span>
  </a>

  <a *ngIf="isLoggedIn" mat-list-item routerLink="/my-tasks" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>person</mat-icon>
    <span matListItemTitle>Saját profil</span>
  </a>
</mat-nav-list>
