.teams-container {
  padding: 2rem;
  text-align: center;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.team-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.team-card {
  width: 100%;
  max-width: 350px;
  padding: 1.5rem;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

mat-card-header {
  background-color: #00796b;
  color: white;
  border-radius: 6px 6px 0 0;
  padding: 0.5rem;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.team-details p {
  font-size: 1rem;
  color: #555;
}

.team-details strong {
  color: #00796b;
}