<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="false">
    <app-menu [sidenav]="sidenav" [isLoggedIn]="isLoggedIn" (logoutEvent)="logout()"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="onToggleSidenav(sidenav)">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Kosárlabda Bajnokság</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>